@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
	font-family: Poppins, apercu-pro, 'Apercu Pro', -apple-system,
		BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}
.btn {
	@apply rounded transition duration-300 cursor-pointer py-2 px-3 text-sm hover:opacity-80;
}
.box-inherit {
	box-sizing: inherit;
}
.dashboard-icon {
	@apply text-template-auth-text h-5 w-5;
}
.form-admin-remaining-height {
	height: calc(100vh - 53px);
}
